/* Variables */

body {
  border: red solid 1px;
}

$color-white: #FFFFFF;
$color-title: #222222;
$color-yellow: #FED136;
$color-subtitle: #777777;
$color-subtitle-portfolio: #737373;
$color-title-portfolio: #333333;
$color-black: #000000;
$color-light-grey: #F7F7F7;


$font-logo: 'Allura', cursive;
$font-title: 'Montserrat', sans-serif;
$font-subtitle: 'Noto Serif', serif;
$font-text: 'Roboto Slab', serif;

/* Global */

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

section {
  padding: 120px 0;
}

/* Header */


.splash {
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../images/Background_Image.png");
  background-position: center;
  background-size: cover;
  position: relative;
  min-height: 700px;
  max-width: 1400px;
  margin: 0 auto;


  .navigation {

    h5 {
      font-family: $font-logo;
      font-size: 26px;
      color: $color-yellow;
      margin: 0;
      padding-left: 100px;
      padding-top: 44px;
      display: inline-block;
    }

    ul {
      list-style-type: none;

      float: right;
      margin: 0;
      padding-top: 55px;

        li {
          display: inline-block;
          padding-right: 40px;


          a {
            text-decoration: none;
            font-size: 14px;
            font-family: $font-title;
            color: $color-white;
          }

        }

    }

  }
  .splash-inner {
    position: absolute;
    left: 50%;
    top: 56%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: $color-white;
    width: 100%;

      h3 {
        font-size: 40px;
        font-weight: 300;
        font-family: $font-subtitle;
        margin: 0 auto;
      }

      h1 {
        font-size: 75px;
        font-family: $font-title;
        margin-top: 20px;
        margin-bottom: 65px;
      }

      .btn {
        background: $color-yellow;
        font-size: 18px;
        font-weight: bold;
        font-family: $font-title;
        color: $color-white;
        border-radius: 3px;
        text-decoration: none;
        padding: 20px 50px;

      }
  }
}
