/* Variables */

body {
  border: red solid 1px;
}

$color-white: #FFFFFF;
$color-title: #222222;
$color-yellow: #FED136;
$color-subtitle: #777777;
$color-title-portfolio: #333333;
$color-subtitle-portfolio: #737373;
$color-black: #000000;
$color-light-grey: #F7F7F7;


$font-logo: 'Allura', cursive;
$font-title: 'Montserrat', sans-serif;
$font-subtitle: 'Noto Serif', serif;
$font-text: 'Roboto Slab', serif;

/* Global */

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

section {
  padding: 120px 0;
}

.section-title {
  font-family: $font-title;
  font-weight: bold;
  font-size: 40px;
  margin: 0 auto;
}

.section-subtitle {
  font-family: $font-subtitle;
  color: $color-subtitle;
  font-size: 16px;
  margin-top: 15px;
  margin-bottom: 80px
}

h2 {
  font-size: 18px;
  font-family: $font-title;
  font-weight: bold;
}

p {
  font-size: 14px;
  font-family: $font-text;
  color: $color-subtitle;
}

/* Header */

.splash {
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../images/Background_Image.png");
  background-position: center;
  background-size: cover;
  position: relative;
  min-height: 700px;
  max-width: 1400px;
  margin: 0 auto;


.navigation {

  h5 {
    font-family: $font-logo;
    font-size: 26px;
    color: $color-yellow;
    margin: 0;
    padding-left: 230px;
    padding-top: 44px;
    display: inline-block;
  }

  ul {
    list-style-type: none;

    float: right;
    margin: 0;
    padding-top: 55px;

      li {
        display: inline-block;
        padding-right: 40px;


        a {
          text-decoration: none;
          font-size: 14px;
          font-family: $font-title;
          color: $color-white;
        }
      }
    }
  }

.splash-inner {
  position: absolute;
  left: 50%;
  top: 56%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: $color-white;
  width: 100%;

    h3 {
      font-size: 40px;
      font-weight: 300;
      font-family: $font-subtitle;
      margin: 0 auto;
    }

    h1 {
      font-size: 75px;
      font-family: $font-title;
      margin-top: 20px;
      margin-bottom: 65px;
    }

    .btn {
      background: $color-yellow;
      font-size: 18px;
      font-weight: bold;
      font-family: $font-title;
      color: $color-white;
      border-radius: 3px;
      text-decoration: none;
      padding: 20px 50px;
    }
  }
}


/* Services */

.container {
  text-align: center;

  .services-row {
    display: flex;
    justify-content: space-between;

    .services-box {
      margin: auto 22px;
      max-width: 350px;

      i {
        height: 67px;
        width: 67px;
        font-size: 35px;
        color: $color-yellow;
        border-radius: 50%;
        border: 3px solid $color-yellow;
        padding-top: 12px;
        margin-bottom: 12px;
      }
    }
  }
}

/* Portfolio */

.portfolio {
  background-color: $color-light-grey;

  .portfolio-row {
    display: flex;
    flex: 0 0 33.333%;
    justify-content: space-between;
    padding: 0 75px 50px 75px;



    .portfolio-box {

      background-color: $color-white;
      padding-bottom: 25px;

      img {
        height: 80%;
        width: 100%;
        object-fit: cover;
      }
      h2 {
        color: $color-title-portfolio;
        padding-top: 10px;
        margin-bottom: 2px;
      }

      p {
        color: $color-subtitle-portfolio;
        font-family: $font-subtitle;
        margin-top: 0;
      }
    }
  }
}
